@model Cookit_Testing_zmh.Models.recipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipe_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipe_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recipe_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
